##  Iterable Objects or Containers

 - A **list** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **square brackets**, separated by commas. Example:
      ```python
         x = [1, 5, 8, 10, 4, 50, 8] # List consisting only of numbers
         y = ["Olivier", "ENGEL", "Strasbourg"] # List consisting only of characters
         z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters.
       
      ```
     A list object can be generated manually by specifying the values within square brackets or automatically using the `list()` function.
      ```python
        x = list(range(1, 10))
        print(x) # returns [1, 2, 3, 4, 5, 6, 7, 8, 9]
     ```

In [2]:
 x = list(range(1, 10))
print(x) # returns [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

   - A **tuple** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **parentheses**, separated by commas. Example:
      ```python
         x = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
         y = ("Olivier", "ENGEL", "Strasbourg") # Tuple consisting only of characters
         z = (1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg") # Tuple consisting of both numbers and characters.
       
      ```
     A tuple object can be generated manually by specifying the values within parentheses or automatically using the `tuple()` function.
      ```python
        x = tuple(range(1, 10))
        print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)
     ```

In [8]:
c= tuple(range(1, 15))
print(c) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9,10,11,12,13,14)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

 - A **set** object is a sequence of values (numerical and/or characters) that are **non-duplicated** and **non-indexed**, and specified within **curly braces**, separated by commas. Example:
      ```python
         x = {1, 5, 8, 10, 4, 50, 8} # Set consisting only of numbers
         y = {"Olivier", "ENGEL", "Strasbourg"} # Set consisting only of characters
         z = {1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"} # Set consisting of both numbers and characters.
       
      ```
     A set object can be generated manually by specifying the values within curly braces or automatically using the `set()` function.
      ```python
         v = [2, 4, "orange", "meat", 4, "orange"]
         V = set(v)
         print(V) # returns {2, 'orange', 4, 'meat'}
      
      ```

In [5]:
a = [6, 5, "orange", "meat", 7, "orange"]
a = set(a)
print(a) # returns {6, 'orange', 7, 'meat'}

{5, 6, 7, 'orange', 'meat'}